html, #root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(54, 48, 59);
  color: rgb(230, 195, 130);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 260px;
  margin: 12px;
  margin-top: 0;

  font-family: 'Jost';
}

.head {
  border: 1px solid rgb(95, 67, 104);
  border-style: none none solid none;

  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0px;
}

.h {
  display: flex;
  justify-content: space-between;
}

.v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.interface {
  width: 100%;
}

.interLeft {
  margin: 32px;
  margin-left: 0;

  width: 25%;
  min-width: 240px;
}

.searchHead {
  border: 1px solid rgb(95, 67, 104);
  border-style: none none solid none;
  height: 160px;
  margin-bottom: 12px;
  justify-content: flex-end;
  padding-bottom: 12px;
}

.dummyLabel {
  justify-content: flex-end;
  padding-bottom: 2px;
  margin: 2px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 2px;
  display: flex;
  justify-content: flex-end;
}

.formTag {
  margin-right: 12px;
}

input, select, button {
  border: none;
  width: 160px;
  padding: 0px;
  background-color: rgb(104, 72, 112);
  color: rgb(230, 195, 130);
  padding-left: 4px;
  outline: none;
}

select {
  width: 164px;
  margin-left: 16px;
}

input[type="submit"], button {
  width: 100%;
  padding: 4px;
  margin-top: 12px;
  border: 1px solid black;

  font-size: 16px;
  font-weight: bold;

  box-shadow: 0 1px 0px #201620a8;
}

input[type="submit"]:active {
  box-shadow: none;
}

input[type="radio"] {
  appearance: none;

  width: 12px;
  height: 12px;
  border-radius: 12px;

  padding: 0;
  margin: 0;
  margin-right: 4px;
  margin-top: 6px;

  border: none;
}

input[type="radio"]:checked {
  border: 3px solid rgb(104, 72, 112);
  background-color: rgb(230, 195, 130);
}

.visualContainer {
  border: 1px solid rgb(95, 67, 104);
  width: 75%;
  margin: 32px;
  margin-left: 0;
  margin-right: 0;

  text-align: center;
  justify-content: flex-start;
}

.brainHeader {
  border: inherit;
  border-style: none none solid none;
}

.brainButtons {
  width: 20vw;
  max-width: 248px;
}

.brainButton {
  width: 120px;
  margin: 4px;
  box-shadow: none;
  background-color: transparent;
  border: 1px solid rgb(95, 67, 104);
  color: rgb(134 100 145);
}

.brainButton:hover {
  color:rgb(230, 195, 130)
}

h3 {
  margin: 4px;
  margin-left: 12px;
  color: rgb(134 100 145);
}

canvas {
  width: 100%;
  height: 100%;
}

.navButtons {
  width: 20vw;
}

#updateButton {
  width: 120px;
  margin: 0;
}

#dataRender {
  width: 90vw;
  max-width: 1100px;
}

.tableKey, .entryKey {
  width: 10%;
}

.entry {
  width: 100%;
}

hr {
  margin-left: -1%;
  width: 102%;
  border: 1px solid rgb(230, 195, 130);
}

.hidden {
  display: none;
}