.dataRender {
  width: 100%;
  /* max-height: 90vh; */
}

.dataTable {
  overflow: overlay;
  overflow-x: hidden;
}

.dataTable::-webkit-scrollbar {
  border: 1px solid rgb(104, 72, 112);
  width: 1vi;
}

.entryTicker {
  color: rgb(181, 141, 190);
  border: 1px solid rgb(104, 72, 112);
  padding: 12px;
  margin-top: 24px;
}

.entryTicker:hover {
  border-color: rgb(181, 141, 190);
  cursor: pointer;
}

.entryHead {

}

.tickerButtons {
  margin-right: -4px;
}

.tickerButton {
  width: 32px;
  height: 32px;
  align-items: center;
}

.tickerButton:hover {
  color: rgb(230, 195, 130);
}

.entryScroll {
  max-height: 38vh;
  margin-top: 12px;
  overflow: overlay;
  overflow-x: hidden;
  justify-content: flex-start;
}

.tableKey, .entryKey {
  min-width: 150px;
  padding: 4px;
}

.entryRow, .keys {
  width: 96%;
  padding: 2px;
  padding-left: 12px;
}

.alt {
  background-color: rgba(104, 72, 112, 0.2);
}

hr {
  margin-left: -1%;
  width: 102%;
  border: 1px solid rgb(230, 195, 130);
}