
#formContainer, form {
  display: flex;
  flex-direction: column;

  position: relative;
}

#formContainer {
  border: 1px solid rgb(104, 72, 112);
  padding-bottom: 4px;
  border-style: none none solid none;
}

label {
  margin: 2px;
  display: flex;
  justify-content: flex-end;
}

.formTag {
  margin-right: 12px;
}

input, select, button {
  border: none;
  width: 160px;
  padding: 0px;
  background-color: rgb(104, 72, 112);
  color: rgb(230, 195, 130);
  padding-left: 4px;
  outline: none;
}

.plusButton, .closeButton {
  border: 1px dashed rgb(104, 72, 112);
  color: transparent;

  width: 16px;
  height: 16px;
  margin: 0;
  right: -20px;

  align-items: center;
  justify-content: center;
  position: absolute;

  font-size: 16px;
  font-weight: bolder;
  user-select: none;
}

.plusButton:hover, .closeButton:hover {
  background-color: rgb(104, 72, 112);
  color:rgb(230, 195, 130);
}

.plus, .ex {
  position: absolute;
  top: -5px;
}

.plusButton {
  bottom: 30px;
  left: 0;
}

.plusPopup {
  z-index: 10;
  display: flex;
  position: absolute;
  left: 0px;
  bottom: -30px;
  width: 100%;
  padding-left: 0px;

  border: 1px solid rgb(104, 72, 112);
  padding-bottom: 4px;
  border-style: none none solid none;
}

#saveQuery {
  background-color: rgb(104, 72, 112);
  height: 20px;
  width: 120px;
}

#saveQuery::placeholder {
  color:rgb(230, 195, 130)
}

#saveButton {
  width: 50px;
  font-size: 12px;
  padding: 0;
  margin: 0;
  box-shadow: none;
  /* position: absolute;
  right: -4px;
  top: 12px; */
  height: 20px;
}

#saveButton:hover {
  border: 1px solid rgb(230, 195, 130)
}

.closeButton {
  top: 6px;
}

input[type="submit"], button {
  width: 100%;
  padding: 4px;
  margin-top: 12px;
  border: none;

  font-size: 16px;
  font-weight: bold;

  box-shadow: 0 3px 2px #201620e3;
}

input[type="submit"]:active {
  box-shadow: none;
}

input[type="text"], input[type='date'], select {
  width: 60%;
  min-width: 50px;
}

select {
  box-sizing: content-box;
  margin-left: 16px;
}

input[type="radio"] {
  appearance: none;

  width: 12px;
  height: 12px;
  border-radius: 12px;

  padding: 0;
  margin: 0;
  margin-right: 4px;
  margin-top: 6px;

  border: none;
}

input[type="radio"]:checked {
  border: 3px solid rgb(104, 72, 112);
  background-color: rgb(230, 195, 130);
}