.infoBox {
  margin-bottom: 12px;
  height: 100%;
  justify-content: flex-start;
  position: relative;
}

.defaultInfo {
  border: 1px solid rgb(95, 67, 104);
  height: 100%;
  color:rgb(181, 141, 190);
}

.infoHead {
  border: 1px solid rgb(95, 67, 104);
  border-style: none none solid none;
  justify-content: flex-end;
}

.infoContainer {
  padding: 4px;
  padding-left: 8px;
}

.searchInfo {
  border: 1px solid rgb(95, 67, 104);
  border-style: none none solid none;
  padding-bottom: 10px;
  padding-left: 8px;
  height: 170px;
}

.searchInfoButton {
  position: absolute;

  left: -10px;
  top: 200px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color:rgb(95, 67, 104);
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
  user-select: none;
}

.listInfoButton {
  padding: 8px;
  padding-top: 0;
  padding-bottom: 0;

  border: 1px solid rgb(95, 67, 104);
  border-style: none none none solid;
}

.listInfoButton:hover {
  color: rgb(230, 195, 130);
}

.dummyLabel {
  justify-content: flex-end;
  padding-bottom: 2px;
  margin: 2px;
  margin-left: -8px;
}